// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
    margin-bottom: 0px;
}

.content-header {
    background-color: #dedede;
    min-height: 150px;
    margin-bottom: 15px;
    padding-top: 20px;
    color: #333;
    height: auto;
    padding-bottom: 50px;

    .label-default {
        color: #FFF;    
    }

    a {
        color: #444;
    }
}

.post-tags {
    margin-top: 20px;
}