.navbar{margin-bottom:0}.content-header{background-color:#dedede;min-height:150px;margin-bottom:15px;padding-top:20px;color:#333;height:auto;padding-bottom:50px}.content-header .label-default{color:#FFF}.content-header a{color:#444}.post-tags{margin-top:20px}