.page-header {
    margin-top: 10px;
}

.tab-pane {
    padding-top: 10px;
}

.post-editor-markdown {
    padding: 10px;
}

.panel-heading > .row:not(.hero-unit) {
    margin-right: 0;
}

.hero-unit-count {
    font-size: 3em;
}
.hero-unit .col-lg-4 {
    text-align: right;
}

.panel-heading h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.text-code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}